   body{
    margin: 10px;
    color: whitesmoke;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{ 
    background: #180292;
    padding: 1rem;
    }
    nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    }
    nav ul li {
      display: inline;
    }
    nav ul li a {
      color: whitesmoke;
      text-decoration: none;
      padding: 0.5rem 1rem;
      display: block;
      transition: 0.1s;
      font-family: cursive;
    }
   /* nav ul li a :hover{
      background-color: whitesmoke;
      border-radius: 5px;
    }
    nav ul li a :active{
     opacity: 0.3;
    }*/
    .landpg{
      background-image: url(img/images\ \(4\)\ \(17\).jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      padding-top: 0.5px;
    }
    .image{
position: relative;
    }
    .ldpimg{
      height: 300px;
      width: 300px; 
      border-radius: 50%;
      object-fit: cover;
      background-color: #130175;
      margin-left: 120vh;
      position:absolute;
      margin-top: -350px;
      
    }
    .part1{
      margin-top: 150px;
      margin-left: 100px;
      margin-bottom: 300px;
      max-height: 250px;
      
    }
    .intro{
      color: whitesmoke;
      font-size: 30px;
      font-weight: bolder;
      margin-bottom: px;
      margin-left: 60px;
    }

    .jbdsc{
      color: lightblue;
      font-size: 50px;
      font-weight: bold;
    }
    .desc{
      margin-bottom: 60px;
      width: 600px;
    }
    .hire{
      font-weight: bold;
      color: whitesmoke;
      border: none;
      padding-left: 30px; 
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 10px;
      background-color: #180292;
      border-style: solid;
      border-color: whitesmoke;
      border-width: 1px;
    }
    .hire:hover{
      opacity: 0.9;
      transition: 0.8s;
      background-color:blue;
    }
    .hire:active{
      opacity: 0.3;
    }
    .talk{
      font-weight: bold;
      border: 2px;
      border-style: solid;
      border-color: #180292;
      background-color: black;
      color:whitesmoke;
      border-radius: 5px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
    }
    .talk:hover{
      opacity: 0.9;
      transition: 0.4s;
      background-color: rgb(44, 42, 42);
    }
    .talk:active{
      opacity: 0.3;
    }
      h2.skitle{
      color:whitesmoke ;
      text-align: center;
      margin-bottom: 40px;
      font-size: 40px;
      text-decoration:solid;
      font-family:cursive ;
    }
    
  
    .rdmr{
      font-weight: bold;
      color: whitesmoke;
      border: none;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 10px;
      background-color: #180292;
      margin-top: 30px;
    }
    .rdmr:hover{
      opacity: 0.9;
      transition: 0.8s;
      background-color: (255, 55, 55);
    }
    .rdmr:active{
      opacity: 0.3;
    }
   
    h2.cnttle{
      color:whitesmoke ;
      text-align: center;
      margin-bottom: 30px;
      margin-top: -5px;
      font-size: 40px;
      text-decoration:solid;
      font-family:cursive ;
    }
  .tittle{
  color:whitesmoke ;
      text-align: center;
      margin-bottom: 1px;
      margin-top:-10px; 
  }
  .header{
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 80px;
}
.open{
  width: 500px;
  margin-bottom:0px;
}

.sectn{
  background-image: url(img/images\ \(4\)\ \(16\).jpeg);
  background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      padding-top: 0.5px;
      color: whitesmoke;
      text-align: center;
    }
    .abt{
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 20px;
      font-family: 'Times New Roman', Times, serif;
      
    }
    .abtmg{
      position: relative;
      height: 150px; width: 200px; margin-left: 550px; display: flex; margin-top: 40px;
    margin-bottom: 90px; border-radius: 400px;
    }
    span.abt{
    color: #180292;
    }
    .titt{
      font-size: larger;
    }

    .skills{
  height: 400px;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #180292;
  /*background-image: url(img/images\ \(4\)\ \(19\).jpeg);
  background-repeat: no-repeat;
  background-size: cover;*/
  }
  .skillist{
  margin-top: 10px;
  display: flex;
  gap: 6px;
  }
.html{
  font-size: medium;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  flex: 1 1 200px;
  background-color: black;
  border: 5px solid blue;
  border-radius: 10px;
  }
  .hti{
  height: 40px;
  width: 40px;
  margin-top: 8%;
  }
  .css{
  font-size: medium;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  flex: 1 1 200px;
  background-color: black;
  border: 5px solid blue; 
  border-radius: 10px;
  }
  .csi{
  height: 50px;
  width: 50px;
  margin-top: 8%;
  }
  .javascript{
  font-size: medium;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  flex: 1 1 200px;
  background-color: black;
  border: 5px solid blue; 
  border-radius: 10px;
  }
  .jsi{
     height: 40px;
  width: 40px;
  margin-top: 8%;
  }
  .boot{
  font-size:medium;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  flex: 1 1 200px;
  background-color: black;
  border: 5px solid blue;
  border-radius: 10px;
  }
  .bsi{
      height: 40px;
  width: 40px;
  margin-top: 8%;
  }
    .ui{
    font-size: medium;
    cursor: pointer;
    padding: 80px;
    text-align: center;
    flex: 1 1 200px;
    background-color: black;
    border: 5px solid blue;
    border-radius: 10px;
    }
    
  .uii{
    height: 60px;
    width: 60px;
    margin-top: 8%;
    }

  .contact{
  background-image: url(img/images\ \(4\)\ \(16\).jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;  
 width: 500px; 
}
  .main{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 
}
.mail{
  font-size: large;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  flex: 1 1 50px;
  background-color: black;
  border: 5px solid #180292;
}
span.Mlogo{
  color:blue;
  font-size: 20px;
}
.Maddress{
  font-size: smaller;
}
.Maddress:hover{
color: rgb(0, 0, 255);
text-decoration: underline;
}
.call{
  font-size: large;
  cursor: pointer;
  padding: 80px;
  text-align: center;
   flex: 1 1 50px;
  background-color: black;
  border: 5px solid #180292;
}
span.Clogo{
  color: green;
margin-right: 10px; 
font-size: 20px;
}
.Cnumber{
margin-left: 35px;  
font-size: small;
}
.Cnumber:hover{
  color: green;
  text-decoration: underline;
}
.linkedin{
  flex: 1 1 50px;
  font-size: large;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  background-color: black;
  border: 5px solid #180292;
}
span.Llogo{
color: whitesmoke;
background-color: #2802ff;
padding: 1px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-size: larger;
border-radius: 4px;
margin-right: 10px; 
font-size: 20px;
}
.Laddress{
margin-left: 30px;
font-size: smaller;
font-style: italic;
}
.Laddress:hover{
  color:white ;
  text-transform:uppercase;
}
.tweeter{
  flex: 1 1 50px;
  font-size: large;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  background-color: black;
  border: 5px solid #180292;
}
span.Tlogo{
margin-right: 10px; 
font-size: 20px;
color: black;
background-color: whitesmoke;
padding: 1px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-size: larger;
border-radius: 4px;
}
.Taddress{
  margin-left: 30px;  
  font-size: small; 
  font-style: italic;
}
.Taddress:hover{
  color:white ;
  text-transform:uppercase;
}

.facebook{
  flex: 1 1 50px;
  font-size: large;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  background-color: black;
  border: 5px solid #180292;
}
span.Flogo{
color: blue;
margin-right: 10px; 
font-size: 20px;
background-color: whitesmoke;
padding: 1px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-size: larger;
border-radius: 4px;

}
.Faddress{
  margin-left: 30px;  
  font-size: small; 
  font-style: italic;
}
.Faddress:hover{
  color:white ;
  text-transform:uppercase;
}

.tiktok{
   flex: 1 1 50px;
  font-size: large;
  cursor: pointer;
  padding: 80px;
  text-align: center;
  background-color: black;
  border: 5px solid #180292;
}
span.Toklogo{
margin-right: 10px; 
font-size: 20px;
color: black;
background-color: whitesmoke;
padding: 1px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-size: larger;
border-radius: 4px;
}
.Tokaddress{
  margin-left: 30px;  
  font-size: small; 
  font-style: italic;
}